{% extends 'frontend/partials/base.html' %} 
{% load static %} 

{% block title %}
<title>{{site.name}} | Our Collaborators</title>
{% endblock title %} 

{% block banner %}
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'frontend/images/banner/banner.four.png' %})">
      <div class="banner-text">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <div class="banner-heading">
                     <h1 class="banner-title">Collaborators</h1>
                     <!--<ol class="breadcrumb">
                        <li>Home</li>
                        <li>News</li>
                        <li><a href="#">News Single</a></li>
                     </ol>-->
                  </div>
               </div><!-- Col end -->
            </div><!-- Row end -->
         </div><!-- Container end -->
      </div><!-- Banner text end -->
	</div>
{% endblock banner %}

{% block content %}
<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/coat-of-arms.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href="">Rivers State of Nigeria</a>
            </h3>
          </div>
        </div>
        <!-- Service1 end -->
      </div>
      <!-- Col 1 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/nrcri.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >National Roots Crops Research Institute, Umudike</a
              >
            </h3>
          </div>
        </div>
        <!-- Service2 end -->
      </div>
      <!-- Col 2 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/iita.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >International Institute of Tropical Agriculture</a
              >
            </h3>
          </div>
        </div>
        <!-- Service3 end -->
      </div>
      <!-- Col 3 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/nspri.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >Nigerian Stored Products Research Institute</a
              >
            </h3>
          </div>
        </div>
        <!-- Service4 end -->
      </div>
      <!-- Col 4 end -->

      <div class="gap-30"></div>

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/fao.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >Food and Agriculture Organization of the United Nation</a
              >
            </h3>
          </div>
        </div>
        <!-- Service5 end -->
      </div>
      


      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/united-nations.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href="">United Nations</a>
            </h3>
          </div>
        </div>
        <!-- Service6 end -->
      </div>
      <!-- Col 6 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/cgiar.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href="">CGIAR</a>
            </h3>
          </div>
        </div>
        <!-- Service7 end -->
      </div>
      <!-- Col 7 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/coraf.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >West and Central African Council for Agricultural Research and
                Development</a
              >
            </h3>
          </div>
        </div>
        <!-- Service8 end -->
      </div>
      <!-- Col 8 end -->

      <div class="gap-30"></div>

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/fara.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >Forum for Agricultural Research in Africa</a
              >
            </h3>
          </div>
        </div>
        <!-- Service9 end -->
      </div>
      <!-- Col 9 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/agra.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href="">AGRA Alliance</a>
            </h3>
          </div>
        </div>
        <!-- Service10 end -->
      </div>
      <!-- Col 10 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/ifad.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >International Fund for Agricultural Development</a
              >
            </h3>
          </div>
        </div>
        <!-- Service11 end -->
      </div>
      <!-- Col 11 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/ilri.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >International Livestock Research Institute</a
              >
            </h3>
          </div>
        </div>
        <!-- Service12 end -->
      </div>
      <!-- Col 12 end -->

      <div class="gap-30"></div>

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/wango.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href=""
                >World Association of Non-Governmental Organizations</a
              >
            </h3>
          </div>
        </div>
        <!-- Service13 end -->
      </div>
      <!-- Col 13 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img class="img-responsive" src="{% static 'frontend/images/services/cta.jpg' %}" alt="" />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title"><a href="">CTA</a></h3>
          </div>
        </div>
        <!-- Service14 end -->
      </div>
      <!-- Col 14 end -->

      <div class="col-md-3">
        <div class="ts-service-box">
          <div class="ts-service-image-wrapper">
            <img
              class="img-responsive"
              src="{% static 'frontend/images/services/harvestplus.jpg' %}"
              alt=""
            />
          </div>
          <div class="ts-service-info">
            <h3 class="service-box-title">
              <a href="www.harvestplus.html">Harvest Plus</a>
            </h3>
          </div>
        </div>
        <!-- Service15 end -->
      </div>
      <!-- Col 15 end -->
    </div>
    <!-- Main row end -->
  </div>
  <!-- Conatiner end -->
</section>

{% endblock content %}
